


<div class="row">
  <div class="col-md-6"><h1 class="text-center">Business Opportunity</h1>

  		<div class="panel panel-default">
			<div class="embed-responsive embed-responsive-16by9">
  					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OjS8hf6Ck9A"></iframe>
  			</div>
  			<div class="panel-body">
  				<h4>How can you make money on the network?</h4>
  				<p>The Description of the business opportunity is that our collaboration helps entrepreneurs to reach their market faster!</p>
  				<p>Secondly you can earn money on your network.</p>
			</div>
			<div class="panel-footer">
				<%= link_to "<i class='fa fa-file-pdf-o'></i> Download PDF".html_safe, faq_path %>
			</div>
		</div>



  </div>
  <div class="col-md-6"><h1 class="text-center">The Cooperative</h1>

  		<div class="panel panel-default">
			<div class="embed-responsive embed-responsive-16by9">
  					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OjS8hf6Ck9A"></iframe>
  			</div>
  			<div class="panel-body">
  				<h4>The Idea of this Cooperative</h4>
  				<p>The Description of the business opportunity is that our collaboration helps entrepreneurs to reach their market faster!</p>
  				<p>Secondly you can earn money on your network.</p>
			</div>
			<div class="panel-footer">
				<%= link_to "<i class='fa fa-file-pdf-o'></i> Download PDF".html_safe, faq_path %>
			</div>
		</div>
	</div>


</div>




<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/OjS8hf6Ck9A" frameborder="0" allowfullscreen></iframe> -->